.contactSection {
    background-color: #0f111a; 
    padding: 40px 0; 
    text-align: center;

}
.contactContainer {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
}
.contactContainer h2 {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 10px;
}
.contactContainer p {
    font-size: 1.1rem; 
    color: #f2dfdf; 
    margin-bottom: 30px; 
}
.contactForm {
    display: flex;
    flex-direction: column; 
    max-width: 500px; 
    margin: 0 auto
}
.contactForm input,
.contactForm textarea {
    padding: 12px; 
    margin-bottom: 20px;
    border: 1px ; 
    border-radius: 5px; 
    font-size: 1rem; 
    background-color: #89a0a2;
}
.contactForm textarea {
    height: 150px;
    resize: vertical;
}

.contactForm button {
    background-color: #510c42; 
    color: #fff;
    padding: 12px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 1.1rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.contactForm button:hover {
    background-color: #16ab20;
}

.socialLinks {
    margin-top: 30px;
}

.socialLinks a {
    display: inline-block;
    margin: 0 15px;
    color: #555; 
    font-size: 2rem; 
    transition: color 0.3s ease
}

.socialLinks a:hover {
    color: #007bff;
}
.GitIcon:hover {
    color: #F1502F;
}
.LikedinId :hover {
    color: #007bff;
}
.LikedinId {
    color: rgb(252, 252, 253)
}

.GitIcon {
    color: rgb(247, 247, 247)
}
