
.skills {
  background-color: #020409;
  padding: 50px 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 30px auto;
}

.skills h1 {
  font-size: 30px;
  color: #fffcfc;
  margin-bottom: 20px;
}

.skillLogos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 30px;
}

.skillLogos img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skillLogos img:hover {
  transform: scale(1.2);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .skillLogos {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .skillLogos {
      grid-template-columns: repeat(2, 1fr);
  }
}
