.educationContainer {
  background-color: #0f111a;
  color: white;
  padding: 3rem 1rem;
  text-align: center;
}
.educationTitle{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}
.eduCard{
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
}
.eduCard::before{
  content: '';
  position: absolute;
  top: 25px;
  left: 120px;
  width: 80%;
  height: 4px;
  background: #f7f7f8;
  z-index: 0;
}
.eduItems{
  flex: 1 1 200px;
  max-width: 250px;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-top: 16px;
}
.eduCircle{
  width: 25px;
  height: 25px;
  background: linear-gradient(to right, #7f00ff, #e100ff);
  border-radius: 50%;
  margin: 0 auto 0.5rem;
  position: relative;
  z-index: 2;
}
.eduYear{
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.eduTitle{
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
.eduSubtitle{
  font-size: 1rem;
  color: #ffffff;
}
.eduDesc{
  font-size: 0.95rem;
  line-height: 1.4;
  color: #cbd5e1;
}
