.infoPersonal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f111a;
  color: white;
  padding: 25px 100px 120px 100px;
  min-height: auto;
  font-family: 'Segoe UI', sans-serif;
  flex-direction: row;

}
.infoContent{
  max-width: 50%;
}
.infoContent h1{
  font-size: 4rem;
  margin-bottom: 20px;
  line-height: 1.2;
}
.infoContent p{
  font-size: 1.8rem;
}
.infoText{
  background: linear-gradient(to right, #ff4ecd, #9f71ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.highlight {
  color: #639aff;
}
.infoDownload{
  display: inline-block;
  text-decoration: none; 
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  background: linear-gradient(to right, #3a6c70, #0f090c);
  color: white;
  transition: 0.3s ease;
  box-shadow: 0 0 15px rgba(255, 47, 197, 0.3);
  margin-top: 100px;
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 1rem;
}
.infoDownload:hover{
  transform: translateY(-2px);
  box-shadow: 0 0 25px rgba(255, 47, 197, 0.5);
}
.myPhoto{
  width: 450px;
  height: 450px;
  border-radius: 50%;
  object-fit: cover;
  border: 8px solid #0f111a;
  
}
.infoPhoto{
  border-color: #ff4ecd;
  border-width: 1rem;
}
@media(max-width: 992px) {
  .infoPersonal{
    padding: 25px 50px 80px 50px;
  }
  .infoContent h1{
    font-size: 3rem;
  }
  .infoContent p{
    font-size: 1.5rem;
  }
  .myPhoto{
    width: 350px;
    height: 350px;
    border-width: 6px;
  }
}
@media(max-width: 768px) {
  .infoPersonal{
    flex-direction: column;
    padding: 25px 50px 100px 50px;
    text-align: center;
  }
  .infoContent{
    max-width: 100%;
    order: 2;
    text-align: center;
    margin-top: 30px;
  }
  .infoContent h1{
    font-size: 2.5rem;
  }
  .infoContent p{
    font-size: 1.1rem;
  }
  .infoPhotoContainer{
    order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .myPhoto{
    width: 300px;
    height: 300px;
    border-width: 6px;
  }
  .infoDownload{
    margin-top: 30px; 
  }
}
@media(max-width: 480px) {
  .infoContent h1{
    font-size: 2rem;
  }
  .infoContent p{
    font-size: 1rem;
  }
  .myPhoto{
    width: 250px;
    height: 250px;
  }
}